:root{
    --bg-cora:#FF4A60;
    --size-cora:50px;    
    --rotate-center:-45deg;
    --rotate-right:-25deg;
    --rotate-left:-65deg;
    /* Colors content menu */
    --bg-content-menu: rgba(0, 0, 0, 0.7);
    /* colors icons menu */
    --bg-icon-primary:white;
    /* dimension icons menu */
    --height--icon:1.5rem;
    --width--icon:1.5rem;        

}
body {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    margin: 0;
    padding: 0;     
}
.none{
    display: none;
}
/* Animation core */
@keyframes throb-left{
    0% {
        transform: scale(.6) rotate(var(--rotate-left));        
    }
    50%{
        transform: scale(1.2) rotate(var(--rotate-left));
    }
    75%{
        transform: scale(1) rotate(var(--rotate-left));        
    }
    100%{
        transform: scale(.6) rotate(var(--rotate-left) );        
    }
}
@keyframes throb-center{
    0% {
        transform: scale(.6) rotate(var(--rotate-center));        
    }
    50%{
        transform: scale(1.2) rotate(var(--rotate-center));
    }
    75%{
        transform: scale(1) rotate(var(--rotate-center));        
    }
    100%{
        transform: scale(.6) rotate(var(--rotate-center) );        
    }
}
@keyframes throb-right{
    0% {
        transform: scale(.6) rotate(var(--rotate-right));        
    }
    50%{
        transform: scale(1.2) rotate(var(--rotate-right));
    }
    75%{
        transform: scale(1) rotate(var(--rotate-right));        
    }
    100%{
        transform: scale(.6) rotate(var(--rotate-right) );        
    }
}
.anima_center{
    animation: throb .6s;
}
.cora{    
    position: absolute;
    background-color: var(--bg-cora);    
    width:var(--size-cora);
    height: var(--size-cora);       
    top: 50px;
    left: 40px;  
    border-bottom-left-radius: 15% ;      
}
.cora::before{
    position: absolute;
    display: block;
    content: "";
    background-color: var(--bg-cora);
    border-radius: 50%;
    left: calc(var(--size-cora)/2);
    width: var(--size-cora);
    height: var(--size-cora);
    
}
.cora::after{
    position: absolute;
    display: block;
    content: "";
    background-color: var(--bg-cora);
    border-radius: 50%;
    bottom: calc(var(--size-cora)/2);
    width: var(--size-cora);
    height: var(--size-cora);    
}

.container__gallery{     
               
}
.content__gallery{    
    
}
.gallery__photo{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 180px, 1fr));
    grid-auto-rows: 150px;     
    grid-auto-columns: 90px;
    grid-gap: 15px;    
    grid-auto-flow   : row  dense;
    margin: .4rem;
}
.img_photo{
    
    width: 100%;
    height: 100%;
    object-fit: cover; 
   
    /* overflow: hidden; */    
}
.img_like{   
    box-shadow: 10px 4px 8px 0 rgba(75, 226, 237, 0.9), 0 3px 10px 0 rgba(75, 226, 237, 0.9);    
}

.img_photo:nth-child(2n + 1){
    grid-area: span 1 / span 2;            
    object-position: 50% 17%;
    
   }
.img_photo:nth-child(3n){    
       grid-area: span 2 / span 1;
       
   }

/* Content gallery content */
.gallery__content{
    position: fixed;
    display: flex;
    flex-direction: row;
    min-height: min-content;
    height: 60px;
    /* gap: .2rem; */
    bottom: 0;       
    min-width: 100%;     
    background-color: var(--bg-content-menu);
    
}
/* Icon house */
.gallery__index{
    position: relative;    
    height: calc(var(--height--icon) * 0.8);
    width: calc(var(--width--icon) * 1.02);
    margin: auto;        
    margin-top: calc(var(--height--icon) * 1.1);
    background-color: white;
    border-radius: .1rem;   
    left: .06em;
}
/* ceiling house */
.gallery__index::before{
    border-radius: .24rem;    
    z-index: -3;
    bottom:  calc( var(--height--icon) /6);
    background-color: white;    
    content: "";
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    left: -0.12em;
    display: block;    
    height: calc(var(--height--icon) * 1.1);
    position: absolute;   
    margin: 0;
    transform: rotate(-45deg);    
    width: calc(var(--width--icon) * 1.15);                       
}
/* Door house */
.gallery__index::after{
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: var(--bg-content-menu);
    border-radius: .5rem;
    top: calc(var(--height--icon) * 0.3);
    height: calc(var(--height--icon) * 0.55);
    width: calc(var(--width--icon) * 0.15);
}
/* Icon Like */
.gallery__likes{
    position: relative;
    height: var(--height--icon);
    width: var(--width--icon);    
    margin: auto;   
    background-color: var(--bg-icon-primary) ;
    border-radius: .2rem;
    transform: rotate(-135deg);
}
.gallery__likes::before{
    content: "";
    display: block;
    position: relative;
    background-color: var(--bg-icon-primary) ;
    left: calc(var(--width--icon)/2);
    height: var(--height--icon);
    width: var(--width--icon);
    border-radius: 100%;

}
.gallery__likes::after{
    content: "";
    display: block;
    position: relative;
    background-color: var(--bg-icon-primary) ;
    bottom: calc(var(--width--icon)/2);
    height: var(--height--icon);
    width: var(--width--icon);
    border-radius: 100%;
}
.gallery__likes.true, .gallery__likes.true::before, .gallery__likes.true::after{    
    box-shadow: 1.2em 0 0.2em blue;    
}
.gallery__likes.true{
    
}
/* Icon comments */
.gallery__comments{
    position: relative;
    margin: auto;
    height: calc(var(--height--icon) * 1.5);
    width: calc(var(--width--icon) * 1.5);
    background-color: white;
    border-radius: 10%;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);    
}
.gallery__comments::before{
    content: "";
    display: block;
    position: relative;
    top: calc(calc(var(--height--icon) / 6));
    margin: auto;    
    height: calc(var(--height--icon) * 1.1);
    width: calc(var(--width--icon) * 1.1);
    background-color: var(--bg-content-menu);
    border-radius: 10%;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.gallery__comments::after{
    content: "";
    display: block;       
    position: relative;
    margin: auto;
    border-radius: 20%;
    bottom: calc(var(--height--icon) * 0.6);
    /* top:-calc(var(--height--icon) * 12) ; */        
    height: calc(var(--height--icon) * 0.2);
    left: calc(var(--width--icon) * 0.012);
    /* top: calc(calc(var(--height--icon) /12)); */
    width: calc(var(--width--icon) * 0.7);
    /* width: calc(var(--width--icon) * 1.1); */
    background-color: white;
}
.gallery__shared{
    position: relative;    
    margin: auto;                
}
/* Icon user */
.shared--arc{
    position: relative;    
    margin: auto;            
    height: calc(var(--height--icon)* 1.2);
    width: calc(var(--width--icon) * 1.2);
    top: calc(var(--height--icon) * 0.8);    
    border-radius: 100%;
    background-color: var(--bg-icon-primary);    
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);    
    transform: rotate(-90deg);        
}
.shared--arc::before{
    content: "";
    position: relative;    
    display: block;            
    height: calc(var(--height--icon)* 1);
    width: calc(var(--width--icon) * 1.1);
    top: calc(var(--height--icon) * 0.12);
    border-radius: 100%;
    background-color: var(--bg-content-menu);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);        
} 
.shared--circle{
    position: relative;    
    margin: auto;         
    top: -28px;   
    height: calc(var(--height--icon)* 0.4);
    width: calc(var(--width--icon) * 0.4);
    border-radius: 100%;
    background-color: transparent;
    border: .2rem solid var(--bg-icon-primary) ;
}