:root{
    --size-cora:60px;    
}
body {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    margin: 0;
    padding: 0;    
}
.cora{
    position: absolute;
    background-color: red;    
    width:var(--size-cora);
    height: var(--size-cora);
    transform: rotate(-45deg);    
    top: 50px;
    left: 40px;
}
.cora::before{
    position: absolute;
    display: block;
    content: "";
    background-color: red;
    border-radius: 50%;
    left: calc(var(--size-cora)/2);
    width: var(--size-cora);
    height: var(--size-cora);
}
.cora::after{
    position: absolute;
    display: block;
    content: "";
    background-color: red;
    border-radius: 50%;
    bottom: calc(var(--size-cora)/2);
    width: var(--size-cora);
    height: var(--size-cora);
}
.container__gallery{     
               
}
.content__gallery{    
    
}
.gallery__photo{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 180px, 1fr));
    grid-auto-rows: 150px; 
    /* grid-template-rows: repeat(auto, minmax(auto-fill, 1fr)) ; */
    grid-auto-columns: 90px;
    grid-gap: 14px;    
    grid-auto-flow   : row  dense;
    margin: .4rem;
}
.img_photo{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    box-shadow: 0 4px 8px 0 rgba(173, 11, 11, 0.575), 0 3px 10px 0 rgba(173, 11, 11, 0.575);    
}

.img_photo:nth-child(2n + 1){
    grid-area: span 1 / span 2;
   }
.img_photo:nth-child(3n){    
       grid-area: span 2 / span 1;
   }
/* Content gallery */
.gallery__content{
    display: flex;
    flex-direction: column;
}